		<table border=0>
			<tr>
				<td width="90" align="center"><img src="/images/logo.png" height="50"></td>
				<td width="90" align="center"><a href="/devices">Devices</a></td>
				<td width="10" align="center"> | </td>
				<td width="90" align="center"><a href="/commands">Commands</a></td>
				<td width="10" align="center"> | </td>
				<td width="90" align="center"><a href="/execute">Execute</a></td>
				<td width="10" align="center"> | </td>
				<td width="80" align="center"><a href="/history">History</a></td>
				<td width="10" align="center"> | </td>
				<td align="right"><%= sess.user_id %> (name: <%= sess.user_name %>) <a href="/logout">logout</a></div></td>
			</tr>
		</table>
		
		
